@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  background: #262626;
}
/* APEX CHART STYLING */
.apexcharts-text tspan {
  font-family: '__Plus_Jakarta_Sans_24adf4' !important;
}

.dark .apexcharts-gridline {
  stroke: #262626 !important;
}

.mainbar {
  margin-left: 80px;
  margin-bottom: 20px;
}

.notify {
  backdrop-filter: blur(15px);
  background: none;
  border: 1px solid #6666662e;
}

.select__time {
  z-index: 9999;
}
 /* ANT MODAL MODAL */

.dark .ant-modal {
  color: #B2ABAB;
}

.dark .ant-modal-header {
  background: none;
}

.ant-modal-header {
  text-align: center;
}

.dark .ant-modal-title {
  color: #B2ABAB
}

.dark .ant-modal-content {
  backdrop-filter: blur(15px);
  background: none;
}

.ant-modal-content {
  font-family: '__Plus_Jakarta_Sans_24adf4';
}

.ant-modal-footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  gap: 12px;
}