@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  background: #262626;
}
/* APEX CHART STYLING */
.apexcharts-text tspan {
  font-family: '__Plus_Jakarta_Sans_24adf4' !important;
}

.dark .apexcharts-gridline {
  stroke: #262626 !important;
}

.mainbar {
  margin-left: 80px;
  margin-bottom: 20px;
}

.notify {
  backdrop-filter: blur(15px);
  background: none;
  border: 1px solid #6666662e;
}

.select__time {
  z-index: 9999;
}

/* @media (max-width:1300px) {
  .mainbar {
    margin-left: 0;
  }
} */